
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body{
    background-color: #fbf8f3 !important;
}

.container{
    padding: 30px;
    margin: 40px auto;
    font-size: 16px;
}

#resume-header{
    display: block;
    margin-bottom: 0;
    
}

.left-align{
    text-align: left;
}

.font-weight{
    font-weight: 600;
}

#profile-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 250px;
    display: block;
    margin: 0 auto;
}

.img-container{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    line-height: 0;
}

.header-img-bg{
    width: 100%;
    max-width: 600px;
    min-width: 370px;
    height: auto;
    max-height: 370px;
    display: block;
}

.header-content{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #5C300C;
}

.name{
    font-family: 'Monument', 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    margin-bottom: 10px;
    margin: auto;
    padding: 0 10px;
}

.role{
    font-family: 'Monument', 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0rem;  
     margin-bottom: 0rem;  
    opacity: 75%;
    font-size: 1rem;
    letter-spacing: 2px;
}

.section-heading-img-bg{
    position: relative;
    display: inline;
    
}

.img-style{
    height: auto;
    max-height: 100px;
    max-width: 350px;
    margin-left: 10px;
}

.section-heading{
    position: absolute;
    top: 5px;
    left: 40px;
    margin: 0;
    font-weight: 700;
    font-family: 'Monument', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #583513;
}

.experience-col-space{
    margin-top: 0px !important;
}

.skill-col-space{
    margin-top: -30px !important;
}

.section-content{
    margin-top: 10px;
    margin-left: 40px;
    color: #4a291d;
    opacity: 75%;
    font-size: 15px;
    font-family: 'Monument', 'Montserrat', sans-serif;
}

.skill-content{
    margin-top: 10px;
    margin-left: 40px;
    color: #4a291d;
    opacity: 75%;
    font-family: 'Monument', 'Montserrat', sans-serif;
    font-weight: 600;
}
.year{
    font-family: 'Monument', 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    color: #4a291d;
    margin-left: 40px;
}

.custom-icon{
    font-size: 8px;
    color: white;
    background-color: #4a291d;
    border-radius:100%;
    padding: 5px;
}

.bi-geo-alt-fill{
    font-size: 12px;
}

.bi-telephone-fill{
    font-size: 12px;
}

.bi-envelope{
    font-size: 12px;
}

.work-img-style{
    height: auto;
    max-height: 100px;
    max-width: 350px;
    margin-left: 20px;   
}
@media (min-width: 992px) and (max-width: 1400px){
    .skill-col-space{
        margin-top: -70px !important;
    }
}

@media(max-width: 991px){
    .experience-col-space{
        margin-top: -50px !important;
    }
    .skill-col-space{
        margin-top: -50px !important;
    }
}

@media(max-width: 768px){

    .name{
        font-size: 1.6rem;
    }

    .role{
        font-size: 1rem;
        margin-top: 0.8rem;
        margin-bottom: 0;
    }
    .experience-col-space{
        margin-top: 0px !important;
    }
} 


@media(max-width: 576px){

    .name{
        font-size: 1.3rem;
    }

    .role{
        margin-top:0.8rem;
        margin-bottom: 0;
        font-size: 0.8rem;
    }
    .experience-col-space{
        margin-top: 0px !important;
    }
}